.App {
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: auto;
  margin: 0 auto;
}
.App h1 {
  color: rgb(88, 87, 87);
  font-weight: 600;
  font-size: 68px;
}

footer {
  color: white;
}
