.App {
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: auto;
  margin: 30px auto;
}
.App h1 {
  color: rgb(85, 83, 83);
  font-weight: 600;
  font-size: 68px;
}
.App-header {
  margin: 30px 0;
}
footer {
  color: white;
}
